<% if user_signed_in? %>

<h1>You're signed in </h1>

<% else %>
<div class="center hero-unit">
    <h1>Welcome to One Month Rails</h1>

    <h2>
      You've found the home page for the
      <a href="http://omrails.com/">One Month Rails</a>
      first application.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>
<% end %>


<!-- got the new_user_registration path from Terminal Bash tab... 
type: rake routes to see what is available and then add _path to the end to make it work  -->